{% extends "base.html" %}
{% load static %}   
{% block title %}Blog App{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog_app/index.css' %}">
{% endblock css_files %}

{% block content %}
<div class="container">
    <header class="hero-section">
        <h1>Welcome, Parikshit!</h1>
        <p class="intro-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa libero, dolore similique nihil dolores nemo quod eum numquam ducimus recusandae aliquid expedita exercitationem consequuntur excepturi voluptatem ullam eos?</p>
    </header>
    <a href="{% url 'blog_app:all_posts' %}">See All Posts</a>
    <div class="post-grid">
        {% for title, body in posts.items %}
            <article class="post-card">
                <h2 class="post-title">{{ title }}</h2>
                <p class="post-body">{{ body }}</p>
                <a href="{% url 'blog_app:view_post' title %}" class="read-more">Read More</a>
            </article>
        {% endfor %}
    </div>
</div>
{% endblock content %}