{% extends "base.html" %}

{% block title %}
    404 Error!
{% endblock title %}

{% block content %}
    <h1>Sorry, We can't found that page!</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, incidunt? Consectetur autem doloribus eveniet odit itaque expedita eligendi natus adipisci. Veritatis excepturi assumenda nam tempora doloremque, qui quo. Deleniti aliquid placeat nostrum maxime mollitia perferendis earum voluptatum molestias, error totam?
    </p>
{% endblock content %}
